.wrapper {
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #2d2c2c;
  color: #ffffff;
  line-height: 1.6;
}

/* navigation styles */

nav {
  background-color: black;
  opacity: 0.5;
  margin: 1.25rem;
  border-radius: 5rem;
  border-width: 4px;
  border-color: #4a90e2;
  border-style: dotted;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  gap: 1.5rem;
}

/* header styles */
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  color: #4a90e2;
  text-align: center;
  margin-top: 20px;
  text-shadow: 9px 9px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: #4a90e2;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* paragraph styles */
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: justify;
  padding: 0px 50px 0px 50px;
}

/* image style */

.tarot-photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

/* link style and hover effect */
a {
  color: #4a90e2;
  text-decoration: dotted;
}

a:hover {
  text-decoration: underline;
  color: white;
}
