.wrapper {
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #2d2c2c;
  color: #ffffff;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* navigation styles */

nav {
  background-color: black;
  opacity: 0.5;
  margin: 1.25rem;
  border-radius: 5rem;
  border-width: 4px;
  border-color: #4a90e2;
  border-style: dotted;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  gap: 1.5rem;
}

/* header styles */
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  color: #4a90e2;
  text-align: center;
  margin-top: 20px;
  text-shadow: 9px 9px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: #4a90e2;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* paragraph styles */
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: justify;
  padding: 0px 50px 0px 50px;
}

/* image style */

.tarot-photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

/* link style and hover effect */
a {
  color: #4a90e2;
  text-decoration: dotted;
}

a:hover {
  text-decoration: underline;
  color: white;
}

/* form styles */
form {
  border: 2px dotted #4a90e2;
  padding: 1rem;
}

form > div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

input[type="checkbox"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  accent-color: #4a90e2;
}

textarea {
  font-family: inherit;
  width: 90%;
  height: 15rem;
  border-radius: 0.5rem;
}

#form-checkbox > label {
  display: inline-block;
  margin-left: 0.5rem;
}

button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #357abd;
}
